.dropdown-item.logout {
  padding: 8px 16px 8px 16px; /*va en sentido horario (de izquierda a derecha en vista de inspeccion*/
}
.dropdown-item.logout:hover {
  background-color: rgba(255, 0, 0, 0.639);
}
.dropdown-menu.show {
  padding-bottom: 0px;
}
.dropdown-divider {
  margin: 0 0 0 0;
}
.content-1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px !important;
}
.dropdown-item:active {
  background-color: #D2C1B6;
}
#buscar {
  list-style-type: none;
}
#farmacia {
  width: 200px;
  height: 200px;
  object-fit: contain;           /* Mantiene la proporción del logo */
  border-radius: 16px;           /* Bordes redondeados */
  background: #d2c1b600;              /* Fondo blanco */
  padding: 8px;                  /* Espacio interno */
  transition: transform 0.2s, box-shadow 0.2s;
}

#farmacia:hover {
  transform: scale(1.05);        /* Efecto de aumento al pasar el mouse */
  background: #d2c1b600;           /* Fondo más claro al hacer hover */
}
#dropdown {
  padding-top: 6px;
}
#navegador {
  height: 65px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.btn-primary {
  --bs-btn-bg: #fff;
  color: black;
  border-color: #D2C1B6;
}
.btn {
    --bs-btn-border-color: #dc3545;
    --bs-btn-color: #black;
    --bs-btn-border-color: #D2C1B6;
    --bs-btn-hover-color: #black;
    --bs-btn-hover-bg: #D2C1B6;
    --bs-btn-hover-border-color: #D2C1B6;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #black;
    --bs-btn-active-bg: #D2C1B6;
    --bs-btn-active-border-color: #456882;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #D2C1B6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #D2C1B6;
    --bs-gradient: none;
}
.form-control:focus {
  border-color: #D2C1B6;
  box-shadow: 0 0 0 .25rem rgb(210, 193, 182, .25);
}
.form-control {
  border-color: #D2C1B6;
}
.navbar {
  background-color: #151110 !important;
}
.logeado {
  padding-right: 25px;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffffff00;
}
.bg-dark {
  margin-bottom: 0px !important;
}